# Ignorar arquivos e diretórios específicos

# Arquivos de banco de dados SQLite
*.sqlite3

# Arquivos de mídia (uploads de usuário, por exemplo)
/media/

# Diretório virtualenv
venv/

# Ignorar arquivos gerados por ferramentas de desenvolvimento

# Arquivos de configuração do ambiente virtual
.env

# Arquivos compilados de tradução
*.mo

# Cache de arquivos estáticos
staticfiles/

# Arquivos de registro
*.log

# Ignorar arquivos gerados pelo IDE/editor de código
.vscode/
.idea/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos e diretórios sensíveis
secret_key.txt
settings.py

# Ignorar arquivos de backup
*~
